body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    background-color:#2ceeff;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    position: relative;
}
h1{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 128px;
    font-style: normal;
}

header{
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 160px;
    z-index: 3;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 64px;
    background-color: lawngreen;
    z-index: 3;
}

.tickerbackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    background-color: lawngreen;
    z-index: 3;
}
.ticker {
    position: absolute;
    white-space: nowrap;
    animation: ticker-animation 10s linear infinite;
}

@keyframes ticker-animation {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

main{
    position: fixed;
    background-image: url(images/mainmap.png);
    height: 832px;
    width: 1280px;
    margin: auto;
    background-size: contain;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    margin-top: 200px;
    z-index: 1;
}

@media only screen and (max-width: 600px){ 
    main{
        height: 208px;
        width: 320px;
        margin-top: 300px;
        margin-left: 10px;
    }
}