body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color:#2ceeff;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    position: relative;
}
h1{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 128px;
    font-style: normal;
}

header{
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 160px;
    z-index: 3;
}

footer{
    position: fixed;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 64px;
    background-color: lawngreen;
    z-index: 3;
    font-size: 24px;
}

.tickerbackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    background-color: lawngreen;
    z-index: 3;
}
.ticker {
    position: absolute;
    white-space: nowrap;
    animation: ticker-animation 10s linear infinite;
}

@keyframes ticker-animation {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

main{
    position: fixed;
    background-image: url(images/mainmap.png);
    height: 768px;
    width: 1024px;
    margin: auto;
    background-size: contain;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    margin-top: 160px;
    z-index: 1;
}

.NEmain{
    position: fixed;
    background-image: url(images/North\ East\ US.png);
    height: 768px;
    width: 1024px;
    margin: auto;
    background-size: contain;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    margin-top: 160px;
    z-index: 1;
}
.PAmain{
    position: fixed;
    background-image: url(images/Home.png);
    height: 768px;
    width: 1024px;
    margin: auto;
    background-size: contain;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    margin-top: 160px;
    z-index: 1;
}
.SFmain{
    position: fixed;
    background-image: url(images/California.png);
    height: 768px;
    width: 1024px;
    margin: auto;
    background-size: contain;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    margin-top: 160px;
    z-index: 1;
}
.PTmain{
    position: fixed;
    background-image: url(images/Iberian\ Peninsula.png);
    height: 768px;
    width: 1024px;
    margin: auto;
    background-size: contain;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    margin-top: 160px;
    z-index: 1;
}
.JPmain{
    position: fixed;
    background-image: url(images/Japan.png);
    height: 768px;
    width: 1024px;
    margin: auto;
    background-size: contain;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    margin-top: 160px;
    z-index: 1;
}
.INmain{
    position: fixed;
    background-image: url(images/India.png);
    height: 768px;
    width: 1024px;
    margin: auto;
    background-size: contain;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    margin-top: 160px;
    z-index: 1;
}
.BRmain{
    position: fixed;
    background-image: url(images/Brazil.png);
    height: 768px;
    width: 1024px;
    margin: auto;
    background-size: contain;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    margin-top: 160px;
    z-index: 1;
}
.PA{
    width: 16px;
    height: 16px;
    background-color: coral;
    position: fixed;
    top: 560px;
    left: 250px;
}
.PA:hover{
    transform: scale(150%);
}

a{
    display: block;
    height: 16px;
    width: 16px;
    color: black;
}

a:visited{
    color: black;
}

.NE{
    width: 16px;
    height: 16px;
    background-color: coral;
    position: fixed;
    top: 290px;
    left: 270px;
}

.SF{
    width: 16px;
    height: 16px;
    background-color: coral;
    position: fixed;
    top: 295px;
    left: 125px;
}

.PT{
    width: 16px;
    height: 16px;
    background-color: coral;
    position: fixed;
    top: 295px;
    left: 470px;
}

.JP{
    width: 16px;
    height: 16px;
    background-color: coral;
    position: fixed;
    top: 305px;
    left: 915px;
}

.IN{
    width: 16px;
    height: 16px;
    background-color: coral;
    position: fixed;
    top: 345px;
    left: 740px;
}

.BR{
    width: 16px;
    height: 16px;
    background-color: coral;
    position: fixed;
    top: 525px;
    left: 350px;
}
.NE:hover{
    transform: scale(150%);
}
.SF:hover{
    transform: scale(150%);
}
.PT:hover{
    transform: scale(150%);
}
.IN:hover{
    transform: scale(150%);
}
.JP:hover{
    transform: scale(150%);
}
.BR:hover{
    transform: scale(150%);
}
@media only screen and (max-width: 600px){ 
    main{
        height: 208px;
        width: 320px;
        margin-top: 300px;
        margin-left: 10px;
    }
    .NE{
        width: 12px;
        height: 12px;
        top: 335px;
        left: 95px;
    }
    
    .SF{
        width: 12px;
        height: 12px;
        top: 340px;
        left: 45px;
    }
    
    .PT{
        width: 12px;
        height: 12px;
        top: 340px;
        left: 150px;
    }
    
    .JP{
        width: 12px;
        height: 12px;
        top: 340px;
        left: 290px;
    }
    
    .IN{
        width: 12px;
        height: 12px;
        top: 355px;
        left: 240px;
    }
    
    .BR{
        width: 12px;
        height: 12px;
        background-color: coral;
        position: fixed;
        top: 410px;
        left: 115px;
    }
}